<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Nom</th>
      <th scope="col">Nom Scientifique</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let disease of diseases$|async,let i = index">
      <th scope="row"><img
          [src]="disease.images[0].path ==null? 'https://via.placeholder.com/100x100':disease.images[0].path" alt=""
          height="100px" width="100px" srcset=""></th>
      <td>{{disease.nom}}</td>
      <td>{{disease.nomScientifique}}</td>
      <td><button class="success btn" (click)="edit(disease)">
          <i class="ft-edit-2 font-medium-2 "></i>
        </button></td>
    </tr>


  </tbody>
</table>